<div class="navbar-tom navbar-fixed-top">
  <a href="index.html"><%= image_tag "tom.jpg", class: "avatar dropdown-toggle", id: "navbar-tom-menu" %></a>
    <div class="navbar-tom-right hidden-xs hidden-sm">
      <%= link_to "Skills", "index.html#skills", class: "scroll navbar-tom-item navbar-tom-link" %>
      <%= link_to "Projects", "http://tomstem.github.io/onlineportfolio/#projects", class: "scroll navbar-tom-item navbar-tom-link" %>
      <%= link_to "About me", "http://tomstem.github.io/onlineportfolio/#aboutme", class: "scroll navbar-tom-item navbar-tom-link" %>
      <%= link_to "Resume", "Tom%20Stemerding%20Resume.pdf", target: "_blank", class: "navbar-tom-item navbar-tom-link" %>
      
    </div>
    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-tom-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" style="color: #fff;"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-tom-dropdown-menu">
          <li><%= link_to "Skills", "index.html", class: "navbar-tom-item navbar-tom-link" %></li>
          <li><%= link_to "Projects", "#projects", class: "navbar-tom-item navbar-tom-link" %></li>
          <li><%= link_to "About me", "#aboutme", class: "scroll navbar-tom-item navbar-tom-link" %></li>
        </ul>
      </div>
    </div>
</div>