---
title: Tom Stemerding - Online Portfolio
---
<!-- <div class="content container">
  <div class="row">
    <% data.projects.each do |owner, project| %>
      <div class="col-xs-12 col-sm-4"> 
        <div class="card" style="background:url(<%= project.lpicture %>)">
          <div class="card-category ">
            <h3><%= link_to project.project_name, "#{owner}.html", class: "project-tom-link" %></h3>
          </div>
          <div class="card-description">
            <p><%= project.summary %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div> -->

<div class="content container">
  <div class="row">
    <% data.projects.each do |owner, project| %>
      <div class="view view-first">
        <div class="col-xs-12 col-sm-4"> 
          <%= image_tag project.lpicture %>
          <div class="mask">
            <h2><%= project.project_name %></h2>
            <p><%= project.summary %></p>
            <%= link_to "Go to project", "#{owner}.html", class: "info" %>
          </div>
        </div>
      </div>  
    <% end %>
  </div>
</div>